@charset "UTF-8";
/*MOBILE FIRST(TELA PEQUENA)*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --font-texto: Arial, Helvetica, sans-serif;
    --font-titulos: "Pirata One", system-ui;
    --bg-dark: rgb(25, 24, 24);
    --bg-menu: #161616;
    --text-light: #fff;
    --accent: #8a2be2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MENU */
/* .header {
    background: var(--bg-dark);
    position: sticky;
    top: 0;
    z-index: 1001;
} */

/* .title {
    font-family: var(--font-titulos);
    color: #fff;
    font-size: 2rem;
    letter-spacing: 10px; 
    margin-right: 15rem;
} */

/* .menu {
    max-width: 1200px;
    margin: auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* Desktop menu */
/* .nav {
    display: flex;
    gap: 25px;
} */

/* .nav a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    transition: all 0.5s ease;
}
.nav a:hover {
    color: rgb(163, 155, 155);
    text-decoration: dashed;
    transform: scale(1.1);
} */

/* .nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
} */

/* Hamburger */
/* .hamburger {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 30px;
    cursor: pointer;
    display: none;
} */
/* MENU */
.header-caidos{

    min-height:60vh;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.85)
    ),
    url("../img/memorial.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    flex-direction:column;
}
.menu{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:1.5rem 5%;

    background:rgba(0,0,0,.2);

    backdrop-filter:blur(10px);
}
.nav-links{

    display:flex;

    gap:2rem;
}

.nav-links a{

    color:white;

    text-decoration:none;

    transition:.3s;
}

.nav-links a:hover{

    color:#8a2be2;
}
.hero-content{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:2rem;
}
.hero-tag{

    color:#8a2be2;

    letter-spacing:3px;

    margin-bottom:1rem;
}
.hero-content h1{

    font-size:
    clamp(
        3rem,
        8vw,
        5rem
    );

    margin-bottom:1rem;
}
.hero-content p{

    max-width:600px;

    color:#d9d9d9;

    line-height:1.8;
}
.hero-divider{

    margin-top:2rem;

    color:#8a2be2;

    letter-spacing:15px;

    font-size:1.4rem;
}







/* .hero-caidos{
    width:100%;
    min-height:50vh;
    background: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.85) ),
    url("../img/caidos-banner.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:4rem;
}
.hero-overlay{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:2rem;
}
.hero-content{

    width:min(900px,90%);

    text-align:center;
}
.hero-tag{
    display:inline-block;
    padding:.5rem 1rem;
    border-radius:50px;
    background:#8a2be2;
    color:white;
    font-size:.9rem;
    margin-bottom:1rem;
    letter-spacing:1px;
}
.hero-content h1{
    font-size:clamp(3rem,7vw,5rem);
    color:white;
    margin-bottom:1rem;
}
.hero-content p{
    color:#d9d9d9;
    font-size:1.2rem;
    line-height:1.7;
    max-width:700px;
    margin:auto;
} */
























.container{
    width:min(1400px,95%);
    margin:auto;
    margin-top: 2rem;
    padding:2rem 0;
}

.fallen-card{
    display:flex;
    gap:2rem;
    background:#1b1b1b;
    overflow:hidden;
    margin-bottom:2rem;
    line-height: 25px;
}

/* .fallen-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
} */

/* .fallen-img{
    flex:0 0 320px;
}

.fallen-img img {
    width:500px;
    height:600px;
    display:block;
    object-fit:cover;
} */
 .fallen-img{
    display: flex;
    align-items: center;
    flex: 0 0 300px;
    height: 420px;
    overflow: hidden;
}

.fallen-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.fallen-content{
    flex:1;
    padding:2rem;
    display:flex;
    flex-direction:column;
}

.fallen-content h2{
    font-size:2rem;
    margin-bottom:.3rem;
}

.fallen-content > span{
    display:block;
    margin-bottom:1rem;
    color:#8a2be2;
    font-weight:bold;
}

details{
    margin-top:1rem;
}

summary{
    cursor:pointer;
    color:#8a2be2;
}

.fallen-info{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    margin-top:2rem;
}

.fallen-info div{
    background:#262626;
    padding:.8rem;
    border-radius:10px;
    min-width:120px;
}

button {
    transition: all 0.5s ease;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 2rem 1rem 0 2rem;
    background-color: rgba(255, 255, 255, 0.01);
    border: none; 
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.473);
}
button:hover {
    transform: scale(1.1);
}

summary {
    color: rgb(95, 89, 89);
    list-style: none;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

footer {
    color: rgb(57, 53, 53);;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;  
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(162, 157, 157);
}

.material-symbols-outlined {
    color: rgb(117, 112, 112);
}

@media(max-width:1024px){
    .fallen-card{
        gap:1rem;
    }
    .fallen-img{
        flex:0 0 250px;
    }
}

@media(max-width:768px){
    .container {
        width: 100%;
    }
    .fallen-card{
        flex-direction:column;
    }
    .fallen-img{
        flex:auto;
        height:600px;
        object-fit: cover;
    }

    /* .title {
        font-family: var(--font-titulos);
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 5px;
        margin-right: 0;
        margin-left: .5rem;
    }
    .logo {
        display: none;
    }
    .hamburger {
        display: block;
        margin-top: -.2rem;
        box-shadow: none;
    }

    .nav {
        position: fixed;
        inset: 0 auto 0 0;
        width: 280px;
        background: var(--bg-menu);
        padding: 50px 25px;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1001;
    }
    .nav.active {
        transform: translateX(0);
    }
    .nav a {
        font-size: 18px;
    }
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 1000;
    }
    .overlay.active {
        opacity: 1;
        pointer-events: all;
    } */

    .menu{

        flex-direction:column;

        gap:1rem;
    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:1rem;
    }

    .header-caidos{

        min-height:50vh;
    }





   

    .hero-caidos{
        min-height:40vh;
        background-attachment:scroll;
    }
    .hero-content h1{
        font-size:3rem;
    }
    .hero-content p{
        font-size:1rem;
    }
}
