@charset "UTF-8";
/*MOBILE FIRST(TELA PEQUENA)*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --font-texto: Arial, Helvetica, sans-serif;
    --font-titulos: "Pirata One", system-ui;
    --bg-dark: rgb(25, 24, 24);
    --bg-menu: #161616;
    --text-light: #fff;
    --accent: #8a2be2;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}
/* COMEÇO DO MENU */
/* Header */
.header {
    background: var(--bg-dark);
    position: sticky;
    top: 0;
    z-index: 1001;
}

.menu {
    max-width: 1200px;
    margin: auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 1rem;
}

/* Desktop menu */
.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    transition: all 0.5s ease;
}
.nav a:hover {
    color: rgb(163, 155, 155);
    text-decoration: dashed;
    transform: scale(1.1);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 30px;
    cursor: pointer;
    display: none;
}
/* FINAL DO MENU */


.conteiner {
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
    border-radius: 20px;
}

.conteiner p {
    font-family: var(--font-texto);
    text-align: justify;
    font-size: 1em;
    line-height: 1.7em;
    padding: 7px 17px;
}

.conteiner h2 {
    color:  rgb(99, 88, 88);
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 2.5em;
    font-weight: lighter;
    padding: 1rem;
}

.personagens {
    background-color: #ffffff;
    box-shadow: 1px 1px 6px rgb(29, 28, 28);
    margin-bottom: 1rem;
    border-radius: 10px 10px 10px 10px;
}

div.descricao {/*descrição dos personagens*/
    background-image: linear-gradient(to right, rgb(66, 66, 66),transparent);
    font-style: italic;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
}

.img-caidos {
    width: 25vw;
    height: 55vh;
    margin: auto;
    margin-bottom: 1.2rem;
    padding: .6rem;
    box-shadow: 0px 0px 5px rgba(12, 4, 4, 0.849), 0px 0px 10px rgba(12, 4, 4, 0.849)
}
img {
    width: 100%;
    height: 55vh;
}

.link-externo {
    padding-bottom: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.link-externo::after {
    content: '\00A0\1F517';
}

.link-externo:hover {
    color: rgb(122, 109, 109);
}

.strong  a {
    font-weight: bold;
    font-size: 1em;
}
button {
    transition: all 0.5s ease;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem 0 2rem;
    background-color: rgba(255, 255, 255, 0.01);
    border: none; 
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.473);
}
button:hover {
    transform: scale(1.1);
}
footer {
    /* background-color:rgb(35, 34, 34); */
    color: rgb(79, 74, 74);
    margin-top: 1rem;
    font-size: 1.2rem;  
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

footer  a {
    color: rgb(162, 157, 157);
    text-decoration: none;
}

a {/*links gerais*/ 
    text-decoration: none;
}

summary {
    color: rgb(95, 89, 89);
    list-style: none;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


/*MOBILE*/
@media (max-width:768px){
    .hamburger {
        display: block;
        margin-top: -.6rem;
        box-shadow: none;
    }

    .nav {
        position: fixed;
        inset: 0 auto 0 0;
        width: 280px;
        background: var(--bg-menu);
        padding: 50px 25px;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1001;
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav a {
        font-size: 18px;
    }

    /* Overlay */
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.6);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    /* MEMU HAMBURGUER */

    .conteiner {
        width: 100%;
    }
    .personagens {
        border-radius: 0;
    }
    .img-caidos {
        width: 62%;
        height: 42vh;
    }
    img {
        width: 100%;
        height: 42vh;
    }
    
}