@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    object-fit: contain;
    background-image: url(../home_img/fundo-2.jpg), linear-gradient(to top, rgb(44, 41, 41),rgb(0, 0, 0)); 
    /* background-image: linear-gradient(to top, rgb(44, 41, 41),rgb(0, 0, 0));; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero {
    width: 100vw;
    height: 25vh;
    padding-top: .7rem;
    text-align: center;
}
.hero h1 {
    margin: 1rem 3rem 1rem 3rem;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 4px;
}
.hero p {
    font-size: 1.1rem;
    text-align: center;
    margin: 1.6rem;
    color: #fff;
    margin-top: 1rem;
}
.hero hr {
    width: 50vw;
    height: 0.1rem;
    border: none;
    background-color: rgb(6, 207, 6);
    margin: auto;
}
/*MODIFICAÇÕES NO CONTEINER*/
.conteiner {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    flex-direction: column;
}
/*MODIFICAÇÕES NAS IMAGENS*/
.conteiner {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 95%;
}
/*MODIFICAÇÕES NAS DIVS*/
.img-Um {
    object-fit: cover;
    height: 14vh;
    width: 20rem;
    height: 8rem;
    margin-bottom: 2.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
    transition: all 0.8s ease;
    outline: none;
}
.img-Um:hover {
    transform: rotate(-2deg)scale(1.1);
}
.img-Dois {
    object-fit: cover;
    width: 20rem;
    height: 8rem;
    margin-bottom: 2.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
    transition: all 0.8s ease; 
    outline: none;
}
.img-Dois:hover {
    transform: rotate(2deg)scale(1.1);
}
.img-Tres {
    object-fit: cover;
    width: 20rem;
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
    transition: all 0.8s ease; 
    outline: none;
}
.img-Tres:hover {
    transform: rotate(-2deg)scale(1.1);
}

footer {
    width: 100%;
    color: rgb(239, 234, 234);
    margin-top: -1.5rem;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}

footer  a {
    color: rgb(162, 157, 157);
    text-decoration: none;
}

/*TESTE PARA TELA DE SMARTPHONES*/
@media screen and (min-width: 700px) and (max-width: 1080px){
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        background-image: url(../home_img/fundo.jpg);
    }
    .hero h1 {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: -.5rem;
    }
    .hero hr {
        margin-top: -.8rem;
    }
    /*MODIFICAÇÕES NAS IMAGENS*/
    .conteiner {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        width: 90%;
    }
    /*MODIFICAÇÕES NAS DIVS*/
    .img-Um {
        object-fit: cover;
        height: 14vh;
        width: 13rem;
        height: 11rem;
        margin-bottom: 2.5rem;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
        transition: all 0.9s ease; 
    }
    .img-Um:hover {
        transform: rotate(-2deg)scale(1.1);
    }
    .img-Dois {
        object-fit: cover;
        width: 13rem;
        height: 11rem;
        margin-bottom: 2.5rem;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
        transition: all 0.3s ease; 
    }
    .img-Dois:hover {
        transform: rotate(2deg)scale(1.1);
    }
    .img-Tres {
        object-fit: cover;
        width: 13rem;
        height: 11rem;
        margin-bottom: 2.5rem;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.484);
        transition: all 0.3s ease; 
    }
    .img-Tres:hover {
        transform: rotate(-2deg)scale(1.1);
    }
    footer {
            margin-top: -2rem;
    }
        
}
@media screen and (min-width: 1001px) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        background-image: url(../home_img/fundo.jpg);
    }
    .conteiner {
        display: flex;
        width: 50%;
        padding: 5rem;
        gap: 5rem;
        margin-top: -2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .hero {
        margin-top: 1rem;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    /*MODIFICAÇÕES NAS DIVS*/
    .img-Um {
        object-fit: cover;
        width: 22rem;
        height: 22rem;
    }
    .img-Dois {
        object-fit: cover;
        width: 22rem;
        height: 22rem;
    }
    .img-Tres {
        object-fit: cover;
        margin-top: -1.6rem;
        width: 22rem;
        height: 22rem;
    }
    footer {
        margin-top: -5rem;
    }
}